doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			block user
				| User: #{user.name || user.userId} 
		block title
			h1
				a(href=userPrefix+"/")
					img(alt=title, src="/images/logo.svg")
		block searchfield
			form(action=userPrefix+"/execute",method="post",enctype="application/x-www-form-urlencoded")
				input#search(placeholder="youbnub.local $",name="q")
		block content
