extends layout

block content
	h2= command.name
	dl
		dt Command
		dd
			code= command.name
		dt Description
		dd!= md(command.man)
		dt Level
		dd= command.getLevel()
		if command.hasText || Object.keys(command.argNames).length
			dt Arguments
			dd
				dl
					if command.hasText
						dt Text Argument
						dd= command.hasText === 1 ? "Required" : "Optional"
					each description, name in command.argNames
						dt
							code= name
						dd= description
		if aliases.length
			dt Aliases
			dd
				ul
					each alias in aliases
						li
							code= alias
